input[type="text"]
{
  width: 97%;
}

#app-container
{
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding-top: 60px;
}

@media (max-width: 979px) 
{
  #app-container
  {
    padding-top: 0px;
  }
}

#header-logo
{
  height: 40px;
}

#app-sidebar
{
  background-color: #ddd;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 4px;
  padding-top: 10px;
}

#search-input
{
  width: 90%;
}

#app-body
{
  background-color: #ddd;
  border-radius: 4px;
  padding: 10px;
}

#note-toolbar
{
  margin: 0px;
  border-bottom: 1px solid #888;
  padding: 3px 3px 0;
}

#note-editor
{
  width: 99%;
  border-radius: 4px;
}

.content-wrapper
{
  height: 100%;
}

.note-body
{
  background-color: #fff;
  border-radius: 4px;
}
